<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>

    <div class="page404">
      <h1 class="page404_heading">404</h1>
      <img class="img-fluid" src="/public//images/404_2.gif" />
      <h3 class="page404_sub_heading">Opps!</h3>
      <h4 class="page404_sub_heading2">Page not found!</h4>
      <a href="/" class="btn btn-primary home404">Home</a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
