<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>

    <div class="container-fluid col-md-8">
      <h2>Signup New Account</h2>
      <form method="POST" action="/signup">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email or Username</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="username"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your Email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
